/Aula03/nbproject/private/
/Aula03/build/
/Aula3 repeticao1/nbproject/private/
/Aula3rep1/nbproject/private/
/Aula3rep1/build/
/Aula3rep2/nbproject/private/
/Aula3rep2/build/
/LaçoEx1/nbproject/private/
/LaçoEx1/build/
/LaçoEx2/nbproject/private/
/Laçosrep/nbproject/private/
/Laçosrep/build/
/exerciciospatineteevacina/nbproject/private/
/exerciciospatineteevacina/build/
